img.izquierda {
    float: left;
}

h1.negro {
    background-color: rgb(0, 0, 0);
    height: 35px;
    color: white;
}

nav.menu {
    background-color: orange;
}

img.inicio {
    position: relative;
    top: 180px;
    left: 400px;
}

img.parejo {
    position: relative;
    top: 180px;
    left: -750px;
    width: 510px;
    height: 340px;
}

p.abajo {
    position: relative;
    top: 100px;
}